BACKEND_HOST=127.0.0.1
BACKEND_PORT=8000
BACKEND_DOMAIN=localhost.com
BACKEND_READ_TIMEOUT=250ms
BACKEND_READ_HEADER_TIMEOUT=250ms
BACKEND_WRITE_TIMEOUT=20s
BACKEND_IDLE_TIMEOUT=10m

CORS_ALLOW_ORIGIN=https://example.com

STORAGE_HOST=127.0.0.1
STORAGE_PORT=5432
STORAGE_NAME=storage_name
STORAGE_USER=storage_user
STORAGE_PASSWORD=user_pwd
STORAGE_SSL_MODE=verify-ca

MIGRATIONS_TABLE=migrations
MIGRATIONS_PATH=migrations

JWKS_URI=http://backend-auth:8000/jwks

TOKENS_ISSUER=example
TOKENS_KEY_ID=rsa